@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply font-heading;
  }

  h1 {
    @apply font-black tracking-wide ms-5;
  }

  h2 {
    @apply font-bold ms-4;
  }

  h3 {
    @apply font-semibold ms-2;
  }

  body {
    @apply text-center text-gray-800 font-body;
  }

  p {
    @apply mb-6;
  }

  @screen sm {
    h1 {
      @apply ms-7;
    }
  }

  @screen md {
    h2 {
      @apply ms-6;
    }

    h3 {
      @apply ms-5;
    }
  }
}

/* Nuxt Special Classes */
.nuxt-link-exact-active {
  /** 
   * TODO: Refine this class styling, as the 'Title name' is also effected
   * There is an override, but maybe you can't rely on that?  
   */
  color: red !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
